#sign-in-form{
    vertical-align: middle;
  }

.sign-in-container {
  text-align: center;
  width: 80%;
  color: white;
}

.sign-in-input {
  width: 35%;
  margin: auto;
}

.sign-in-btn {
  width: 15%;
}

#sign-in-btns {
  text-align: center;
  margin: auto;
}
