.sign-in-container {
  text-align: center;
  width: 80%;
  color: white;
}

.sign-in-input {
  width: 35%;
  margin: auto;
}

.sign-in-btn {
  width: 15%;
}

#sign-in-btns {
  text-align: center;
  margin: auto;
}

.welcome{
  padding: 30px;
}

@media only screen and (max-width: 375px){
  .sign-in-container{
    font-size: 30px;
  }
  .sign-in-btn{
    width: 35%;
  }
  .sign-in-input{
    width:90%;
  }
}
