.content-pad{
  padding:40px;
}

.edit-profile {
  text-align: left;
}

.edit-inputs {
  float: right;
  width: 90%;
}

.edit-input {
  width: 90% !important;
}

.edit-btn {
  width: 50%;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

.link-btn{
  padding: 10px;
}


@media only screen and (max-width: 768px) {
.cover-container{
  width: 95%;
}
.edit-btn{
  font-size: 13px;
  width: 85%;
}
}
