body {
    background-repeat: no-repeat;
    background-color: rgb(18, 24, 34, .0);
    background-size: 500% 900%;
    color: white;
  }

  label {
    text-align: left;
}

.button {
    border-radius: 30px;
    background-color: white;
    color: gray;
    border-color: lightgray;
    /* float: right; */
}

.cover-container {
    text-align: center;
    border-color: white;
    border-style: solid;
    width: 80%;
    margin: auto;
    background-color: white;
    color: black !important;
  }

  .heading{
    float: left;
  }

h1, h2, h3, h5, h6, p, nav, .nav-link, .button, .descriptions{
    /* font-family: 'Merienda One', cursive; */
    font-family: 'Courgette', cursive;
}