body {
    background-repeat: no-repeat;
    background-color: rgb(18, 24, 34, .0);
    background-size: 500% 900%;
    color: white;
  }

  label {
    text-align: left;
}

.button {
    border-radius: 30px;
    background-color: white;
    color: gray;
    border-color: lightgray;
    /* float: right; */
}
.button:hover{
  background-color: lightgray;
  color: white;
  border-color: lightgray;
}

.cover-container {
    text-align: center;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    color: black !important;
  }

  .heading{
    float: left;
    color: white;
  }

h1, h2, h3, h5, h6, p, nav, li, .nav-link, .button, .descriptions, #about-desc{
    /* font-family: 'Merienda One', cursive; */
    font-family: 'Courgette', cursive;
}

@media only screen and (max-width: 375px) {
.cover-container{
  width: 90%;
}
$container-max-width: (
  sm: 10px;
)
}